{% extends 'base.html' %}

{% block content %}
<h3>Entries</h3>

<form method="POST" id="dataEntryForm" data-secondary-accounts-url="{% url 'data_entry:ajax_load_secondary_accounts' %}" get-entry-url="{% url 'data_entry:get_entry' %}">
	{% csrf_token %}
	{{ form}}
	<button type="submit" name="add">Add</button>
</form>
</br>
</br>
<table id="session_entries_table" discard-session-entry-url="{% url 'data_entry:discard_session_entry' %}">
	<thead>
	<tr>
		<th>S.N</th>
		<th>Main A/c</th>
		<th>Seconary A/c</th>
		<th>Personal A/c</th>
		<th>Debit</th>
		<th>Credit</th>
		<th>Symbol no.</th>
		<th>Action</th>
	</tr>
	</thead>
	<tbody>
	</tbody>
	<tfoot>
	<tr>
		<th>Total:</th>
		<td id="total_debit">0</td>
		<td id="total_credit">0</td>
	</tr>
	<tr>
		<th>Difference:</th>
		<td id="drcr_difference">0</td>
	</tr>
	</tfoot>
</table>
</br>
<form method="POST" id="entryBundleForm">
	{% csrf_token %}
	<button type="submit" name="discard">Cancel</button>
	<button id="save_session_entries" save_session_entries_url="{% url 'data_entry:save_session_entries' %}">Save</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script> //get secondary account (GET RID OF JQUERY ASAP)
$("#id_main_account").change(function () {
  var url = $("#dataEntryForm").attr("data-secondary-accounts-url");  // get the url of the `load_secondary_accounts` view
  var mainAccountId = $(this).val();  // get the selected main_account ID from the HTML input

  $.ajax({                       // initialize an AJAX request
	url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-secondary_account/)
	data: {
	  "main_account": mainAccountId       // add the main_account id to the GET parameters
	},
	success: function (data) {   // `data` is the return of the `load_secondary_accounts` view function
	  $("#id_secondary_account").html(data);  // replace the contents of the secondary_account input with the data that came from the server
	}
  });

});
</script>

<script type="text/javascript"> //get session entry
$(document).on("submit", "#dataEntryForm", function(e){
	e.preventDefault(); //prevent default browser behaviour for form submission(reloading)

	var url = $("#dataEntryForm").attr("get-entry-url");
	var main_account = $("#id_main_account").val();
	var secondary_account = $("#id_secondary_account").val();
	var personal_account = $("#id_personal_account").val();
	var amount = $("#id_amount").val();
	var entry_type = $("#id_entry_type").val();
	var symbol_number = $("#id_symbol_number").val();
	var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();

	$.ajax({
		type:"POST",
		url:url,
		data: {
			"main_account": main_account,
			"secondary_account": secondary_account,
			"personal_account": personal_account,
			"amount": amount,
			"entry_type": entry_type,
			"symbol_number": symbol_number,
			"csrfmiddlewaretoken": csrfmiddlewaretoken,
		},
		success:function(session_entry){
			$("#id_main_account").val("");
			$("#id_secondary_account").val("");
			$("#id_personal_account").val("");
			$("#id_amount").val("");
			$("#id_symbol_number").val("");
			$("#id_entry_type").val("");
			let entry_count = session_entry.entry_count
			let main_account = session_entry.ma;
			let secondary_account = session_entry.sa;
			let personal_account = session_entry.pa;
			let debit = (session_entry.e_type === 'dr') ? session_entry.a:0; // if entry type is dr then value is entrys amount else 0
			let credit = (session_entry.e_type === 'cr') ? session_entry.a:0;
			let symbol_number = session_entry.sn;
			let markup = "<tr id='entry" + entry_count + "'><td>" +
				entry_count + "</td><td>" +
				main_account + "</td><td>" +
				secondary_account + "</td><td>" +
				personal_account + "</td><td>" +
				debit + "</td><td>" +
				credit + "</td><td>" +
				symbol_number + "</td><td>" +
				"<button onclick=discard_session_entry(" + entry_count + ")>Delete</button</td></tr>"
			let total_debit = session_entry.drcr_balance_val[1]
			let total_credit = session_entry.drcr_balance_val[2]
			let drcr_difference = session_entry.drcr_balance_val[3]
			$("#session_entries_table tbody").append(markup);
			$("#session_entries_table #total_debit").html(total_debit);
			$("#session_entries_table #total_credit").html(total_credit);
			$("#session_entries_table #drcr_difference").html(drcr_difference)
		}
	});
});
</script>

<script type="text/javascript"> //save session entries
$(document).ready(function(){
	$("#save_session_entries").click(function(e){
		e.preventDefault()
		var url = $("#save_session_entries").attr("save_session_entries_url");
		var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
		$.ajax({
			type:"POST",
			url:url,
			data: {
				"csrfmiddlewaretoken": csrfmiddlewaretoken,
			},
			success:function(data){
				console.log(data)
				if(data === ''){
					alert("No entries in the session")
				}
				else if(data ==='reload'){
					location.reload()
				}
			},
			error:function(data){
				alert("Please check the difference between debit and credit balance before submitting. It should be 0")
			}
		});
	});
});
</script>

<script type="text/javascript"> //discard session entry
function discard_session_entry(entry_count){
var url = $("#session_entries_table").attr("discard-session-entry-url");

	$.ajax({
		url: url,
		data: {"entry_count":entry_count},
		success: function(data){
			entry_id = "entry" + entry_count;
			$("#" + entry_id).remove();
			let total_debit = data[1];
			let total_credit = data[2];
			$("#session_entries_table #total_debit").html(total_debit);
			$("#session_entries_table #total_credit").html(total_credit);
			alert("entry Deleted")
		},
		error: function(data){
			alert("something went wrong. Maybe the enry is deleted already")

		}
	});
}
</script>

{% endblock content %}
