{% extends 'base.html' %}

{% block content %}
<button id="discard_latest_session_entry" discard-session-entry-url="{% url 'data_entry:discard_session_entry' %}">Remove latest entry</button>
<h3>Entries</h3>
<ul class="entries">
</ul>

<form method="POST" id="dataEntryForm" data-secondary-accounts-url="{% url 'data_entry:ajax_load_secondary_accounts' %}" get-entry-url="{% url 'data_entry:get_entry' %}">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" name="add">Add</button>
</form>
<br>
<form method="POST" id="entryBundleForm">
	{% csrf_token %}
	<button type="submit" name="discard">Discard</button>
	<button id="save_session_entries" save_session_entries_url="{% url 'data_entry:save_session_entries' %}">Done</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script> //GET RID OF JQUERY ASAP
$("#id_main_account").change(function () {
  var url = $("#dataEntryForm").attr("data-secondary-accounts-url");  // get the url of the `load_secondary_accounts` view
  var mainAccountId = $(this).val();  // get the selected main_account ID from the HTML input

  $.ajax({                       // initialize an AJAX request
	url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-secondary_account/)
	data: {
	  "main_account": mainAccountId       // add the main_account id to the GET parameters
	},
	success: function (data) {   // `data` is the return of the `load_secondary_accounts` view function
	  $("#id_secondary_account").html(data);  // replace the contents of the secondary_account input with the data that came from the server
	}
  });

});
</script>

<script type="text/javascript">
$(document).on("submit", "#dataEntryForm", function(e){
  e.preventDefault(); //prevent default browser behaviour for form submission(reloading)

  var url = $("#dataEntryForm").attr("get-entry-url");
  var main_account = $("#id_main_account").val();
  var secondary_account = $("#id_secondary_account").val();
  var personal_account = $("#id_personal_account").val();
  var amount = $("#id_amount").val();
  var entry_type = $("#id_entry_type").val();
  var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();

  $.ajax({
	type:"POST",
	url:url,
	data: {
	  "main_account": main_account,
	  "secondary_account": secondary_account,
	  "personal_account": personal_account,
	  "amount": amount,
	  "entry_type": entry_type,
	  "csrfmiddlewaretoken": csrfmiddlewaretoken,
	},
	success:function(session_entries){
	  $("#id_main_account").val("");
	  $("#id_secondary_account").val("");
	  $("#id_personal_account").val("");
	  $("#id_amount").val("");
	  $(".entries").prepend("<li>" + "main_ac: " + session_entries.ma +  " | sec_ac: " + session_entries.sa + " | pers_ac: " + session_entries.pa + " | amount: " + session_entries.a + "</li>")
	}
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $("#save_session_entries").click(function(e){
	e.preventDefault()

    var url = $("#save_session_entries").attr("save_session_entries_url");
    var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();

    $.ajax({
      type:"POST",
      url:url,
      data: {
	    "csrfmiddlewaretoken": csrfmiddlewaretoken,
	  },
	  success:function(data){
		if(data === ''){
		  alert("No entries in the session")
		}
		else{
		  if(data[3] > 0){
			alert("Debit balance is more by " + data[3] + " || Dr: " + data[1] + " Cr: " + data[2])
		  }
		  else{
			let data3 = data[3] * -1
			alert("Credit balance is more by " + data3 + " || Dr: " + data[1] + " Cr: " + data[2])
		  }
		}
	  }
	});
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $("#discard_latest_session_entry").click(function(){
    var url = $("#discard_latest_session_entry").attr("discard-session-entry-url");

    $.ajax({
	  url: url,
	  success: function(data) {
	    $(".entries").find(":first").remove()
	    alert("Latest entry Discarded")
	  },
	  error: function(data){
	    alert("No entry to delete")
	  }
    });
  });
});
</script>

{% endblock content %}
